.main-content {
    flex: 1;
    min-height: 100vh;
    background: #f4f6f8;
}
.container-about {
    width: 100%;
    align-items: center;
    text-align: center;
}

.logo img {
    width: 300px;
}

.content h3 {
    background-color: rgb(117, 40, 40);
    color: white;
    max-width: 13%;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}

.content p {
    background-color: rgb(117, 40, 40);
    color: white;
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content2 h3 {
    background-color: rgb(117, 40, 40);
    color: white;
    max-width: 20%;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}

.content2 p {
    background-color: rgb(117, 40, 40);
    color: white;
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo h1 {
    margin-top: 30px;
}