.dashboard-main {
    padding: 30px;
    width: 100%;
}

/* WELCOME */
.welcome-box {
    background: rgb(117, 40, 40);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.welcome-box h2 {
    margin-bottom: 5px;
    color: #ffffff;
}

.welcome-box p {
    color: #ffffff;
}

/* STAT CARDS */
.stat-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.stat-card {
    background: rgb(117, 40, 40);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    text-align: center;
    margin-top: 40px;
}

.stat-card h4 {
    color: #ffffff;
    margin-bottom: 10px;
}

.stat-card span {
    font-size: 32px;
    font-weight: bold;
    color: rgb(247, 247, 247);
}

/* INFO */
.info-box {
    background: rgb(117, 40, 40);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    width: 97%;
    margin: auto;
    margin-top: 40px;
}

.info-box h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #ffffff;
}

.info-box p {
    color: #ffffff;
    line-height: 1.6;
}

.main-content {
    flex: 1;              
    width: 100%;
    min-height: 100vh;
    background: #f4f6f8;  
}

.logo {
    text-align: center;
}

.logo img {
    width: 200px;
    margin-top: 100px;
}