*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .container-nav {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

header .logo-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header .container-nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
    
}

header .container-nav ul li a {
    text-decoration: none;
    color: #ffff;
    transition: 100ms;
    font-weight: 600;
    font-size: 14px;
}

header .container-nav ul li a:hover {
    color: #ffd900;
}

header .logo-container img {
    width: 30px;
    display: flex;
    
}

.logo-container li i {
    color: #ffff;
    align-items: center;
    font-size: 15px;
}



nav {
    display: flex;
    justify-content: center;
    background-color: #dd0000;
    padding: 25px;
    gap: 3rem;
}



nav .logo-navbar img {
    width: 170px;
} 

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3rem;
    
}

nav ul li a {
    /* outline: 1px solid #ffff; */
    text-decoration: none;
    color: #ffff;
    font-weight: 600;
    font-size: 14px;
    transition: 100ms;
}

nav ul li a:hover {
    color: #ffd900;
}


.background-image {
  background-image: url('../IMAGE/bg.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  
}

/* SEDIKIT AI */
.quote-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
    background-color: #f0f0f0;     
    padding: 5px 20px;
    border-radius: 8px;       
    width: fit-content;
    margin: 50px auto;             
    box-shadow: 0 2px 6px rgba(0,0,0,0.2); 
}


.quote-text h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
}

/* SEDIKIT AI */
.quote-text img {

  width: 200px;           
  height: 200px;
  border-radius: 50%;    
  border: 4px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3); 


}

.text-center ul, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 40px;
    gap: 1rem;
    color: #dd0000;
    font-weight: 400;
}
.text-center img {
    width: 25px;
    margin-top: 5px;

}

.text-center2 p {
    background-color: #dd0000;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 20px;
    gap: 10px;
    color: #ffffff;
    font-weight: solid;
    margin-top: 40px;
    padding: 12px;
}

.text-center3 {
    margin-top: 70px;
    background-color: #f0f0f0;
    padding: 70px;
}

.text-center4 {
    margin-top: 30px;
}

.text-video {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}


.text-video img {
    display: inline-block;
    width: 50vh;
    
}

.container-bottom {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    background-color: #f8f9fa;
    padding: 60px;
    gap: 10px;
}

.container-bottom img {
    width: 200px;
}

.footer {
  background-color: #7b7b7b;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 230px;
  margin-right: 30px;
}

.footer section {
  display: flex;
  gap: 60px;
}

.footer ul {
  list-style: none;;
}

.footer h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer p {
  font-size: 14px;
  line-height: 1.6;
  color: #ffffff;
}

.icon-sosial {
  font-size: 15px;
  margin-right: 5px;
  color: white;
}

.footer-bottom {
    background-color: black;
    padding: 20px;
    justify-items: center;
}

.footer-bottom p {
    color: #ffff;
    font-weight: 400;
}

.container-nav .login {
    display: flex;
}
